src/main/mule/salesforce-aggregator-api.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:salesforce="http://www.mulesoft.org/schema/mule/salesforce"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/salesforce http://www.mulesoft.org/schema/mule/salesforce/current/mule-salesforce.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<flow name="salesforce-aggregator-apiFlow" doc:id="cee21dfe-11e4-410c-93a3-4cac49482f7d" >
		<set-variable value="#[attributes.queryParams.id]" doc:name="Set Variable" doc:id="bb8e0285-5db6-492c-8b8b-b0943b8b2683" variableName="applicationId"/>
		<flow-ref doc:name="retrievLoanApplication" doc:id="8366614f-2cdd-4d6b-871c-618823968bff" name="retrievLoanApplication" />
		<flow-ref doc:name="retrieveLoanApplicant" doc:id="348b48fd-83d2-4802-9e20-16aef7a1fde3" name="retrieveLoanApplicant"/>
		<flow-ref doc:name="retrieveLoanAddress" doc:id="83df3d2f-211b-45ca-a61e-b473ad8f4ed6" name="retrieveLoanAddress"/>
		<flow-ref doc:name="retrieveLoanDeclaration" doc:id="f91c5f99-5088-47cf-9a46-6edddd5e9737" name="retrieveLoanDeclaration"/>
		<flow-ref doc:name="retrieveLoanEmployment" doc:id="768617cd-40ea-42ce-b413-1857fa1fa6ec" name="retrieveLoanEmployment"/>
		<flow-ref doc:name="retrieveContact" doc:id="6c0232f4-6e59-4e0e-897e-b2b73e5c3587" name="retrieveContact" />
		<ee:transform doc:name="payload" doc:id="e2014f36-fa2b-4c13-9870-0fb9bf467af3" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json skipNullOn="everywhere"
---
[
 "LoanApplication":  vars.loanapplication reduce ($),
 "LoanApplicant" : vars.loanapplicant reduce $,
"LoanApplicantAddress" : vars.address reduce $,
"LoanApplicantDeclaration" : vars.declare reduce $,
"LoanApplicantEmployment" : vars.employment reduce $,
"Contact" : vars.contact reduce $$,
"ResidentialLoanApplication" : vars.residentialLoanApplication reduce $$
]]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
	<sub-flow name="retrieveLoanApplicant" doc:id="ee0311a9-8a4a-43ec-8885-7348a60163dc" >
		<ee:transform doc:name="sf query" doc:id="a945c4ae-3589-4ea0-93e6-35d9c1827fd7" >
			<ee:message >
				<ee:set-payload ><![CDATA["Select Fields(All) from LoanApplicant where Id = '" ++ vars.loanapplicantId ++ "' limit 50"]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<salesforce:query doc:name="Query" doc:id="861aa59d-f289-4ad5-b8e8-dc259e152c0d" config-ref="Salesforce_Config">
			<salesforce:salesforce-query ><![CDATA[#[payload]]]></salesforce:salesforce-query>
		</salesforce:query>
		<ee:transform doc:name="Transform Message" doc:id="21c2fa22-add3-4c99-aa67-33638142b980" >
			<ee:message >
			</ee:message>
			<ee:variables >
				<ee:set-variable variableName="loanapplicant" ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<set-variable value="#[vars.'loanapplicant'.LoanApplicationId reduce $$]" doc:name="Set Variable" doc:id="9f764460-0d2e-4f01-affa-b237bac8fc8a" variableName="residentialId"/>
		<ee:transform doc:name="Transform Message" doc:id="829873a1-dfb4-4b48-9a67-b13f0ee0ccef" >
			<ee:message >
				<ee:set-payload ><![CDATA["Select Fields(ALL) from ResidentialLoanApplication where Id = '" ++ vars.residentialId ++ "' limit 200"]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<salesforce:query doc:name="Query" doc:id="6c2eebe9-9fb1-441b-a40c-23bcd11b659f" config-ref="finanical-cloud-services">
			<salesforce:salesforce-query ><![CDATA[#[payload]]]></salesforce:salesforce-query>
		</salesforce:query>
		<ee:transform doc:name="Transform Message" doc:id="d33c8114-5092-4e1b-9086-669241010b72" >
			<ee:message >
			</ee:message>
			<ee:variables >
				<ee:set-variable variableName="residentialLoanApplication" ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
	</sub-flow>
	<sub-flow name="retrievLoanApplication" doc:id="7a8dec74-5483-44ea-aacc-d49573c90b87" >
		<ee:transform doc:name="sf query" doc:id="e758ac00-d1b2-459e-9234-cab93adf111a">
			<ee:message>
				<ee:set-payload><![CDATA["Select Fields(All) from Loan_Application__c where Id = '" ++ vars.applicationId ++ "' limit 50"]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<salesforce:query doc:name="Query to retrieve loan applicant details" doc:id="378d0ddb-1de9-4979-9797-0abf536617d0" config-ref="Salesforce_Config" target="loanapplication">
			<salesforce:salesforce-query><![CDATA[#[payload]]]></salesforce:salesforce-query>
		</salesforce:query>
		<ee:transform doc:name="vars.loanapplicant" doc:id="fbea455c-73cd-4754-a008-2a8e7b4b4191">
			<ee:message>
			</ee:message>
			<ee:variables >
				<ee:set-variable variableName="loanemployment" ><![CDATA[vars.loanapplication.Loan_Applicant_Employment__c reduce $$]]></ee:set-variable>
				<ee:set-variable variableName="loanaddress" ><![CDATA[vars.loanapplication.Loan_Applicant_Address__c reduce $$]]></ee:set-variable>
				<ee:set-variable variableName="loandeclare" ><![CDATA[vars.loanapplication.Loan_Applicant_Declaration__c reduce $$]]></ee:set-variable>
				<ee:set-variable variableName="contact" ><![CDATA[vars.loanapplication.Contact__c reduce $$]]></ee:set-variable>
				<ee:set-variable variableName="loanapplicantId" ><![CDATA[vars.loanapplication.Loan_Applicant__c reduce $$]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
	</sub-flow>
	<sub-flow name="retrieveLoanDeclaration" doc:id="22378bb0-2209-4a8e-bb1e-a7979920bb07" >
		<ee:transform doc:name="sf query" doc:id="f393b518-100f-417f-8ecc-48a365726736" >
			<ee:message >
				<ee:set-payload ><![CDATA["Select Fields(All) from LoanApplicantDeclaration where Id = '" ++ vars.loandeclare ++ "' limit 50"]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<salesforce:query doc:name="Query to retrieve loandeclrataion Details" doc:id="d5f3c95d-4fe4-4f4b-92dc-77ab6f023c94" config-ref="Salesforce_Config" >
			<salesforce:salesforce-query ><![CDATA[#[payload]]]></salesforce:salesforce-query>
		</salesforce:query>
		<ee:transform doc:name="vars.declare" doc:id="cab83a4d-709a-4921-9f59-28a513175fc0" >
			<ee:message >
			</ee:message>
			<ee:variables >
				<ee:set-variable variableName="declare" ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
	</sub-flow>
	<sub-flow name="retrieveLoanAddress" doc:id="61bb81d4-bd30-4651-b9f0-341583c79fa3" >
		<ee:transform doc:name="sf query" doc:id="d010f7be-8a09-4566-8140-4168ddcd1020" >
			<ee:message >
				<ee:set-payload ><![CDATA["Select Fields(All) from LoanApplicantAddress where Id = '" ++ vars.loanaddress ++ "' limit 50"]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<salesforce:query doc:name="Query to retrieve loan address details" doc:id="4a747598-afbd-4904-b6af-70d3de16e5b7" config-ref="Salesforce_Config" >
			<salesforce:salesforce-query ><![CDATA[#[payload]]]></salesforce:salesforce-query>
		</salesforce:query>
		<ee:transform doc:name="vars.address" doc:id="edf54011-183e-403d-9bda-c6d430a39404" >
			<ee:message >
			</ee:message>
			<ee:variables >
				<ee:set-variable variableName="address" ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
	</sub-flow>
	<sub-flow name="retrieveContact" doc:id="b305d993-56e6-4130-8e7c-c429ff568350" >
		<ee:transform doc:name="sf query" doc:id="9238bdbc-6e9b-4cab-a80d-fad9911c3fe6" >
			<ee:message >
				<ee:set-payload ><![CDATA["Select Fields(ALL),Reference_Contact__r.FirstName,Reference_Contact__r.LastName,Reference_Contact__r.MiddleName,Reference_Contact__r.MailingStreet,Reference_Contact__r.MailingCity,Reference_Contact__r.MailingState,Reference_Contact__r.MailingPostalCode,Reference_Contact__r.MailingAddress,Reference_Contact__r.Phone,Reference_Contact__r.MobilePhone from Contact where Id = '" ++ vars.contact ++ "' limit 50"]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<salesforce:query doc:name="Query to retrieve contact details" doc:id="d0e1d91c-7bcb-4fdc-a64d-c0398f3b04c5" config-ref="Salesforce_Config">
			<salesforce:salesforce-query ><![CDATA[#[payload]]]></salesforce:salesforce-query>
			<salesforce:headers />
		</salesforce:query>
		<ee:transform doc:name="vars.contact" doc:id="1a5ee023-a9b9-4530-bb3c-a3d0d486accd" >
			<ee:message />
			<ee:variables >
				<ee:set-variable variableName="contact" ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
	</sub-flow>
	<sub-flow name="retrieveLoanEmployment" doc:id="e0fecf9c-a136-4379-9dd6-6176d69258c9" >
		<ee:transform doc:name="sf query" doc:id="5ef12d49-4000-4cbf-9006-b1fc7d083402" >
			<ee:message >
				<ee:set-payload ><![CDATA["Select Fields(All) from LoanApplicantEmployment where Id = '" ++ vars.loanemployment  ++ "' limit 50"]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<salesforce:query doc:name="Query to retrieve loan employment details" doc:id="7a4274ec-6c30-415b-9e52-a7d490ea4512" config-ref="Salesforce_Config">
			<salesforce:salesforce-query ><![CDATA[#[payload]]]></salesforce:salesforce-query>
		</salesforce:query>
		<ee:transform doc:name="vars.employment" doc:id="00e29024-8516-4239-88ce-a6bbd913d5e9" >
			<ee:message >
			</ee:message>
			<ee:variables >
				<ee:set-variable variableName="employment" ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
	</sub-flow>
	<flow name="salesforce-aggregator-Emailapi" doc:id="c8250a13-f2a3-4448-b7ab-aec79098cdd7" >
		<ee:transform doc:name="Transform Message" doc:id="8edad220-cee0-46dd-95df-b45e772e9146" >
			<ee:message >
				<ee:set-payload ><![CDATA["Select Fields(ALL),Contact__r.Email,Contact__r.Id from Loan_Application__c where Contact__r.Email like '" ++ attributes.queryParams.email ++ "' limit 200"]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<salesforce:query doc:name="Query" doc:id="59ce52d2-a8f4-4f3c-b004-c63f45b8fa59" config-ref="finanical-cloud-services">
			<salesforce:salesforce-query ><![CDATA[#[payload]]]></salesforce:salesforce-query>
		</salesforce:query>
		<ee:transform doc:name="Transform Message" doc:id="8082b0a2-14f3-4999-9e27-c2ec36066e76" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json skipNullOn="everywhere"
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
</mule>
